<h2>Test Notes</h2>
<ul>
    <li><a href="/secure/">User Information</a><br>
    Shows the information retrieved using the user end-point from the corresponding OAuth provider.
</ul>
<h3></h3>
<ul>
    <li><a href="/list-dg-test-vault/">Obisidian Test Vault</a><br>
    Notes imported from the Obisidian test vault
</ul>
<h3>Secure Test Notes</h2>
<p>Notes from the Obisidian test vault adapted to test the authentication using Eleventy Serverless.</p>
<ul>
    <li>Original: <a href="/e-embeds/e02-png-published/">E02 PNG published</a>
    <li>Secure: <a href="/secure/travolta/">E02 PNG published</a>
</ul>