<h2>Test Notes</h2>
<p>Notes from the Obisian test vault</p>
<ul>
    <li><a href="/000-home/">000 Home</a>
</ul>
<h2>Secure Test Notes</h2>
<p>Notes from the Obisian test vault adapted to test the authentication using Eleventy Serverless.</p>
<ul>
    <li>Original: <a href="/e-embeds/e02-png-published/">E02 PNG published </a>
    <li>Secure: <a href="/secure/travolta/">E02 PNG published</a>
</ul>