<div>
  <h2>Related</h2>
  <ul>
    <li><a href="https://stackapps.com/q/10533/105187"><i>Jardín Digital de Rubén</i> post on stackapps.com</a></li>
    <li><a href="https://github.com/oleeskild/obsidian-digital-garden">Obsidian Digital Garden on GitHub</a></li>
    <li><a href="https://github.com/rubenrivera/demo-eleventy-serverless-oauth/">Eleventy Serveless OAuth demo on GitHub</a></li>
    <li><a href="https://api.stackexchange.com/docs/authentication">Authentication - Stack Exchange API </a></li>
  </ul>
</div>