{% if tags and 'dg-test-vault' in tags %}

<div class="callout " data-callout="info">
    <div class="callout-title">
        <div class="callout-title-inner">
            Attribution
        </div>
    </div>
    <div class="callout-content">
        <p>Content taken from <a href="https://github.com/oleeskild/obsidian-digital-garden/tree/main/src/dg-testVault">dg-testVault</a> on 2024-03-25.</p> 
    </div>
</div>
{% endif %}