---
permalink:
  dynamic: "/secure/"
secure:
  unauthenticatedRedirect: "/"
layout: layouts/index.njk
---
<style>
  details {
    user-select: none;
  }

  details>summary span.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s;
    margin-left: auto;    
  }

  details[open] summary span.icon {
    transform: rotate(180deg);
  }

  summary {
    display: flex;
    cursor: pointer;
  }

  summary::-webkit-details-marker {
    display: none;
  }
</style>
<h2>{{ user.name or user.full_name or user.localizedFirstName or user.display_name }}, this page is secure.</h2>
{% include "components/logout.njk" %}
<details>
  <summary>
    <h3>Your user information</h3>
    <p> Click to expand / collapse</p>
    <span class="icon">🔽</span>
  </summary>
  <img src="{{ user.avatar_url or user.avatar or user.picture or user.profile_image or user["profilePicture"]["displayImage~"]["elements"][0]["identifiers"][0]["identifier"] }}" alt="Avatar for {{ user.name or user.full_name or user.localizedFirstName }}">
  <pre>
    {{ user | dump(2) }}
  </pre>
</details>
